<div class="container-fluid text-light p-2">
    <div class="row flex-row">
        <div class="col col-6">
            <div class="row">
                <div class="col col-6 d-flex justify-content-center align-items-center">
                    <div class="w-25">
                        <img class="img-fluid" alt="CompanyLogo" src="assets/svg/PageLogo.svg"/>
                    </div>
                </div>
                <div class="col col-6 d-flex flex-column justify-content-center align-items-center">
                    <h4 class="fs-5">About us</h4>
                    <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat earum reprehenderit accusantium animi voluptatem rerum, consectetur libero quidem obcaecati vel? Eum, doloremque! Eligendi molestiae quod nesciunt</p>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="d-flex justify-content-evenly align-items-center h-100">
                <div class="d-flex align-items-center">
                    <span class="me-3 d-flex justify-content-center align-items-center imgContainer">
                        <img class="img-fluid" src="assets/svg/Location.svg" alt="Location">
                    </span>
                    <p>Location</p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-3 d-flex justify-content-center align-items-center imgContainer">
                        <img class="img-fluid" src="assets/svg/Mail.svg" alt="Location">
                    </span>
                    <p>Mail</p>
                </div>
                <div class="d-flex align-items-center">
                    <span class="me-3 d-flex justify-content-center align-items-center imgContainer">
                        <img class="img-fluid" src="assets/svg/Phone.svg" alt="Location">
                    </span>
                    <p>Phone</p>
                </div>
            </div>
        </div>
    </div>
</div>