<div class="mainContainer d-flex justify-content-around align-items-center">
    <div class="mainContainer__header d-flex justify-content-evenly">
        <img src="assets/svg/PageLogo.svg" alt="Logo">
        <div class="d-flex flex-column align-items-center w-50">
            <p class="text-white fw-bold">Sobre Nostros</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ut quidem ex molestias eos odio esse excepturi assumenda fuga veniam.</p>
        </div>
    </div>
    <hr class="mainContainer__divider"/>
    <div class="mainContainer__body text-white d-flex justify-content-evenly">
        <div class="d-flex align-items-center mainContianer__body--item">
            <img class="me-2" src="assets/svg/Location.svg" alt="Ubicación">
            <p>Ubicación</p>
        </div>
        <div class="d-flex align-items-center mainContianer__body--item">
            <img class="me-2" src="assets/svg/Phone.svg" alt="Telefono">
            <p>Telefono</p>
        </div>
        <div class="d-flex align-items-center mainContianer__body--item">
            <img class="me-2" src="assets/svg/Mail.svg" alt="Correo">
            <p>Correo</p>
        </div>
    </div>
</div>