<div class="carousel__container">
    <div class="carousel__header">
        <span class="carousel__dot"></span>
        <img alt="example" src="https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg?cs=srgb&dl=dug-out-pool-hotel-pool-1134176.jpg&fm=jpg"/>
    </div>
    <div class="carousel__body">
        <p>Escapada de Verano en el Paraíso - Hotel Sol y Brisa</p>
        <p>Disfruta de unas vacaciones inolvidables en el Hotel Sol y Brisa, tu refugio perfecto de verano. Ubicado a solo unos pasos de la playa, nuestro hotel ofrece una experiencia refrescante con una espectacular piscina al aire libre rodeada de exuberantes jardines. Relájate bajo el sol, sumérgete en nuestras aguas cristalinas y disfruta de cócteles tropicales en nuestro bar junto a la piscina. Ya sea que busques tranquilidad o diversión en familia, el Hotel Sol y Brisa tiene todo lo que necesitas para un verano perfecto.</p>
        <div class="carousel__body--Separator d-flex justify-content-between">
            <p class="fw-bold">$120 USD</p>
            <button class="btn btn-primary me-3 w-25">Reservar</button>
        </div>
    </div>
</div>