<div class="container-fluid">
    <div class="row carousel__container">
        <div class="col col-12 col-md-6 p-0 d-flex justify-content-center position-relative overflow-hidden">
            <div id="carouselExample" class="carousel slide w-100">
                <div class="carousel-inner h-100 d-flex align-items-center p-2">
                    <div class="carousel-item active rounded-2 overflow-hidden">
                        <img src="https://c4.wallpaperflare.com/wallpaper/624/380/1000/life-resort-hotel-resort-hotel-wallpaper-preview.jpg" class="d-block w-100" alt="Hotel">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="carousel__body col col-12 col-md-6 d-flex p-4 p-md-2 flex-column justify-content-evenly">
            <p class="fw-bold">Escapada de Verano en el Paraíso - Hotel Sol y Brisa</p>
            <p>
                Disfruta de unas vacaciones inolvidables en el Hotel Sol y Brisa, tu
                refugio perfecto de verano. Ubicado a solo unos pasos de la playa,
                nuestro hotel ofrece una experiencia refrescante con una espectacular
                piscina al aire libre rodeada de exuberantes jardines.
            </p>
            <div class="m-2 carousel__body--Separator d-flex justify-content-between align-items-center">
                <p class="fw-bold mb-0">$120 USD</p>
                <button class="btn-reservation btn btn-primary me-3">Reservar</button>
            </div>
        </div>
    </div>
</div>
    