.carousel__container{
    width: 80rem;
    background-color: #474b52;
    border-radius: 1rem;
    overflow: hidden;
}

.carousel__header:hover{
    cursor: pointer;
}

.carousel__dot{
    display: block;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 92%;
    left: 50%;
    z-index: 200;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.carousel__dot:hover{
    cursor: pointer;
    opacity: 1;
}

.carousel__body{
    box-sizing: border-box;
    color: white;
}