<app-gallery-item [imageUrl]="'https://th.bing.com/th/id/R.d870713fbbd3f3cb4667d7952569a757?rik=FXevUHc3VbHYQA&riu=http%3a%2f%2fdata.1freewallpapers.com%2fdownload%2fspa-beach-hotel-1680x1050.jpg&ehk=O4w0hiHju0j1y7jvgeD0ZBxdlcEwXAwNKOE8KwTdYEI%3d&risl=&pid=ImgRaw&r=0'"></app-gallery-item>
<app-gallery-item [imageUrl]="'https://th.bing.com/th/id/R.7a1baa5fc530062fbc165425cfce085d?rik=%2fZ8aspxOINPdvw&pid=ImgRaw&r=0'"></app-gallery-item>
<app-gallery-item [imageUrl]="'https://c4.wallpaperflare.com/wallpaper/624/380/1000/life-resort-hotel-resort-hotel-wallpaper-preview.jpg'"></app-gallery-item>


