.mainContainer{
    display: grid;
    grid-template-areas: "nav nav nav"
                         "carousel carousel carousel"
                         "hotelGallery hotelGallery hotelGallery"
                         "footer footer footer";
}

.nav{
    grid-area: nav;
}
.nav app-nav-bar{
    z-index: 100;
}
.carousel{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    grid-area: carousel;
    padding:  0.5rem;
    z-index: 99;
}
.hotelGallery{
    grid-area: hotelGallery;
    padding: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
}
.footer{
    grid-area: footer;
    width: 100%;
}
