.mainContainer{
    display: flex;
    width: 100%;
    height: 25rem;
    background-color: #474b52;
    border-radius: 0.5rem;
    overflow: hidden;
}

.mainContainer__header{
    width: 50%;
    height: 100%;
}

.mainContainer__header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainContainer__body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    width: 60%;
}

@media screen and (max-width:1030px) {
    .mainContainer__body p{
        font-size: 2rem;
    }
    .carousel__body_item--Separator .btn{
        font-size: 2rem;
    }
 }
 @media screen and (max-width:768px) {
    .mainContainer__body p{
        font-size: 2rem;
    }
    .carousel__body--Separator .btn-reservation{
        font-size: 2.5rem;
        width: 25rem;
    }
 }

 @media screen and (max-width:480px) {
    .mainContainer__body p{
        font-size: 4rem;
    }
    .carousel__body_item--Separator .btn{
        font-size: 4rem;
    }
 }